body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #3179c6;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.Calculator {
  background-color: #66189d;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.5);
  width: 320px
}

.display {
  background-color: #000000;
  color: blue;
  font-size: 2rem;
  padding: 20px;
  border-radius: 12px;
  text-align: right;
  margin-bottom: 20px;
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.btn {
  background-color: #b47ddc;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #765689;
}

.btn.operator {
  background-color: #ff9500;
}

.btn.operator:hover {
  background-color: #cc7a00;
}

.btn.control {
  background-color: #ff3b30;
}

.btn.control:hover {
  background-color: #cc2e24;
}

.btn.equal {
  background-color: #34c759;
}

.btn.equal:hover {
  background-color: #28a745;
}

.btn.zero {
  grid-column: span 2;
}